.city-button {
    padding-left:23px;
}

.route-button {
    padding-top:15px;
}

.submit-button {
    padding-top:10px;
}

.inline-button {
    display:inline-block;
}

.weather-div {
    padding-top:25px;
}